.headerContainer {
    width          : 100%;
    height         : fit-content;
    position       : fixed;
    display        : flex;
    justify-content: center;
    z-index        : 2;
}

.commentsContainer {
    width           : 100%;
    background-color: var(--textColorPrimary);
}

.commentsContainer>button {
    width  : 100%;
    padding: 0;
    border : none;
}

.commentsContainer [id='postTextContainer'] {
    color      : var(--mainBackgroundColor);
    display    : flex;
    align-items: center;
}

.modalElementsContainer {
    display        : flex;
    justify-content: center;
}

.modalElementsContainer>div {
    margin : 10px;
    width  : fit-content;
    padding: 10px;
    border : 1px solid var(--textColorPrimary);
}
